header{
    display: flex;
    justify-content: space-between;/*justifica o conteudo e joga os conteudos para asetremidades*/
    background-color: #025959;
    padding: 10px 20px;
    border-bottom: 10px solid #000;/*escrita de forma resumida, primeiro o tamanho, depois se é solida e por ultimo a cor*/

}

img{
    display: inline-flex;
    margin: 0px;
    border-radius: 50%;
    padding: 0px;
    height: 60px;
    width: 60px; 
}

nav{
    
    text-align: right;/*alinhamento do texto*/

}

a{
    display: inline-flex;/*o inline-flex faz com que os elementos flexiveis um apos o outro se alinhem na mesma linha até que a largura da tela seja ocupada*/
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    margin-right: 30px;
}

a::before{
    content: " ";
    background-color: #BF3636;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}
